.authUser {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  height: 100vh;
}

.authUser__content {
  display: flex;
  flex-direction: column;
  width: 50vw;
  padding: 20px;
  border: 1px solid gray;
  border-radius: 10px;
  box-shadow: 5px 5px 9px -5px #007bff;
}

.authUser__title {
  text-align: center;
  margin-bottom: 20px;
  font-size: xx-large;
  color: #72c02c;
}

.authUser__title > h4 {
  font-weight: 500;
}

.authUser__infos {
  display: flex;
  flex-direction: column;
}

.authUser__info {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.authUser__info > .authUser__infoLabel > h5 {
  margin-bottom: 5px;
  font-size: x-large;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.9);
}

.authUser__content > h5 > span {
  margin-left: auto;
}

.authUser__infoLabel {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.authUser__infoLabel > .MuiSvgIcon-root {
  color: rgba(255, 255, 255, 0.9);
}

.authUser__info > input {
  padding: 10px;
  font-size: large;
  border-radius: 5px;
  background-color: transparent;
  color: white;
  outline: none;
  border: none;
  font-weight: 100;
}

.authUser__info > input:focus {
  border: 1px solid #007bff;
}

.authUser__info > select {
  padding: 10px;
  font-size: large;
  border-radius: 5px;
  background-color: transparent;
  outline: none;
  border: none;
  color: gray;
  cursor: pointer;
}

.authUser__login > button:hover {
  background-color: #007bffb4;
}

.authUser__login {
  display: flex;
  align-items: center;
  margin-top: 10px;
  justify-content: center;
  flex-direction: column;
  color: rgba(255, 255, 255, 0.9);
}

.authUser__login > button {
  background-color: #147e8f;
  color: #fff;
  padding: 10px;
  border: none;
  outline: none;
  border-radius: 5px;
  font-size: 1.2rem;
  cursor: pointer;
  margin-top: 10px;
  width: 20vw;
}

.authUser__login > a:any-link > button {
  background-color: #147e8f;
  color: #fff;
  padding: 10px;
  border: none;
  outline: none;
  border-radius: 5px;
  font-size: 1.2rem;
  cursor: pointer;
  margin-top: 10px;
  width: 20vw;
}

.authUser__login > button:first-child {
  margin-bottom: 10px;
  width: 30vw;
}
